* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* GLOBAL CSS */
.product-name {
    font-size: 24px;
}

.brand {
    font-size: 18px;
    color: gray;
}

.price {
    padding-top: 20px;
    font-size: 18px;
}

.description {
    padding-top: 20px;
}

label, input {
    display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top-product-description{
        /* border: 1px solid black; */
        border-top: 1px solid gainsboro;
        padding-top: 40px;
        padding-left: 20px;
    }

    .side-product-description {
        display: none;
    }

    #product-img0 {
        width: 100%;
        height: auto;
    }

    #product-img1, #product-img2, #product-img3 {
        display: none;
    }

    #reviews {
        border: 1px solid black;
    }

    .form-container{
        border: 1px solid black;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .page-container {
        width: 100%;
    }

    .top-product-description{
        border-top: 1px solid gainsboro;
        padding-top: 40px;
        padding-left: 20px;
    }

    .side-product-description {
        display: none;
    }

    #product-img0 {
        width: 100%;
        height: auto;
    }

    #product-img1, #product-img2, #product-img3 {
        display: none;
    }

    #reviews {
        border: 1px solid black;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-container {
        width: 100%;
    }

    .top-product-description{
        border-top: 1px solid gainsboro;
        padding-top: 40px;
        padding-left: 20px;
    }

    .side-product-description{
        display: none;
    }

    .product-img-container{
        width: 90%;
        display: flexbox;
        margin-left: 10%;
    }
    
    #product-img0, #product-img1, #product-img2, #product-img3 {
        width: 45%;
        height: auto;
        padding: 20px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .product-container{
        display: flex;
    }

    .product-img-container{
        width: 70%;
        display: flexbox;

        padding-left: 5%;
    }

    .product-img-container {
        border-right: 2px solid rgb(213, 213, 213);
    }
    
    #product-img0, #product-img1, #product-img2, #product-img3 {
        width: 45%;
        height: auto;
    }

    .top-product-description{
        display: none;
    }

    .side-product-description{
        width: 20%;
        padding-left: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .product-container{
        display: flex;
    }

    .product-img-container{
        width: 70%;
        display: flexbox;

        padding-left: 5%;
    }

    .product-img-container {
        border-right: 2px solid rgb(213, 213, 213);
    }
    
    #product-img0, #product-img1, #product-img2, #product-img3 {
        width: 45%;
        height: auto;
    }

    .top-product-description{
        display: none;
    }

    .side-product-description{
        width: 20%;
        padding-left: 20px;
    }
}
