* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
    width: 200px;
    margin-top: 50px;
    padding: 12px 20px;
    border: none;
    color: rgb(24, 24, 24);
    background-color: lightgray;
    border-radius: 5px;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(27, 27, 27);
}

.content-container {
    text-align: center;
}

/* GLOBAL CSS */
.product-img {
    cursor: pointer;
}


input[type=text],
select {
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

input[type=submit] {
    width: 200px;
    margin-top: 50px;
    padding: 12px 20px;
    border: none;
    color: rgb(24, 24, 24);
    background-color: lightgray;
    border-radius: 5px;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(27, 27, 27);
}

h3 {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .order-details {
        padding-left: 30%;
        display: block;
        text-align: left;
    }

    .products-container {
        width: 100%;
    }

    .product {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;

    }

    .product-img {
        width: 175px;
        height: 175px;
    }

    .product-description {
        text-align: left;
        padding: 20px;
        padding-left: 50px;
    }

    .product-name {
        font-size: 14px;
        padding-top: 50px;
    }

    .product-type {
        font-size: 14px;
        color: grey;
    }

    .product-price {
        font-size: 14px;
    }

    .product-review {
        font-size: 14px;
        color: grey;
    }

    .form-container {
        padding-left: 5%;
        padding-bottom: 100px;
    }

    input[type=text],
    select {
        width: 400px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .order-details {
        padding-left: 30%;
        display: block;
        text-align: left;
    }

    .products-container {
        width: 100%;
    }

    .product {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;

    }

    .product-img {
        width: 175px;
        height: 175px;
    }

    .product-description {
        text-align: left;
        /* padding: 20px; */
        padding-left: 20%;
    }

    .product-name {
        font-size: 14px;
        padding-top: 50px;
    }

    .product-type {
        font-size: 14px;
        color: grey;
    }

    .product-price {
        font-size: 14px;
    }

    .product-review {
        font-size: 14px;
        color: grey;
    }

    .form-container {
        padding: 10%;
    }

    .input-field {
        margin: 10px;
        width: 45%;
    }

    input[type=text],
    select {
        width: 100%;
    }

    .main-info {
        display: flex;
    }

    .shipping-info {
        display: flex;
        flex-wrap: wrap;
    }

    .shipping-address {
        display: flex;
        flex-wrap: wrap;
    }

    .payment-info {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .order-details {
        padding-left: 20%;
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
    }

    .products-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .product {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;

    }

    .product-img {
        width: 175px;
        height: 175px;
    }

    .product-description {
        text-align: left;
        /* padding: 20px; */
        padding-left: 10%;
    }

    .product-name {
        font-size: 14px;
        padding-top: 50px;
    }

    .product-type {
        font-size: 14px;
        color: grey;
    }

    .product-price {
        font-size: 14px;
    }

    .product-review {
        font-size: 14px;
        color: grey;
    }

    .form-container {
        padding: 10%;
    }

    .input-field {
        margin: 10px;
        width: 45%;
    }

    input[type=text],
    select {
        width: 100%;
    }

    .main-info {
        display: flex;
    }

    .shipping-info {
        display: flex;
        flex-wrap: wrap;
    }

    .shipping-address {
        display: flex;
        flex-wrap: wrap;
    }

    .payment-info {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .order-details {
        padding-left: 20%;
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
    }

    .products-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .product {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;

    }

    .product-img {
        width: 175px;
        height: 175px;
    }

    .product-description {
        text-align: left;
        /* padding: 20px; */
        padding-left: 10%;
    }

    .product-name {
        font-size: 14px;
        padding-top: 50px;
    }

    .product-type {
        font-size: 14px;
        color: grey;
    }

    .product-price {
        font-size: 14px;
    }

    .product-review {
        font-size: 14px;
        color: grey;
    }

    .form-container {
        padding: 10%;
    }

    .form-row {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .form-column {
        margin: 5px;
    }

    .input-field {
        margin: 10px;
        ;
        width: 90%;
    }

    input[type=text],
    select {
        width: 100%;
    }

    .main-info {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
    }

    .shipping-info {
        display: flex;
        flex-wrap: wrap;
    }

    .shipping-address {
        display: flex;
        flex-wrap: wrap;
    }

    .payment-info {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
    }

    input[type=submit] {
        margin-top: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .order-details {
        padding-left: 20%;
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
    }

    .products-container {
        width: 100%;
        /* max-width: 992px; */
        display: grid;
        grid-template-columns: auto auto;
    }

    .product {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;

    }

    .product-img {
        width: 175px;
        height: 175px;
    }

    .product-description {
        text-align: left;
        /* padding: 20px; */
        padding-left: 10%;
    }

    .product-name {
        font-size: 14px;
        padding-top: 50px;
    }

    .product-type {
        font-size: 14px;
        color: grey;
    }

    .product-price {
        font-size: 14px;
    }

    .product-review {
        font-size: 14px;
        color: grey;
    }

    .form-container {
        padding: 10%;
    }

    .form-row {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .form-column {
        margin: 5px;
    }

    .input-field {
        margin: 10px;
        ;
        width: 90%;
    }

    input[type=text],
    select {
        width: 100%;
    }

    .main-info {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
    }

    .shipping-info {
        display: flex;
        flex-wrap: wrap;
    }

    .shipping-address {
        display: flex;
        flex-wrap: wrap;
    }

    .payment-info {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
    }

    input[type=submit] {
        margin-top: 25px;
    }
}